[user]
	name = Tucker Beck
	email = tucker.beck@gmail.com
	signingkey = 8AB369CEEAEB6E9A317DE739E0E8F7B4D99E8ABF
[alias]
    lg  = "log --pretty=format:'%C(yellow)%h%C(reset) %s %C(cyan)%cr%C(reset) %C(blue)%an%C(reset) %C(green)%d%C(reset)' --graph"
    st  = status
    df  = "difftool origin/master"
    sup = "submodule update"
    pushup = "!git push -u origin $(git rev-parse --abbrev-ref HEAD)"
    tagup = "!git tag v$(poetry version -s) && git push origin v$(poetry version s)"
    crack = "!target=$(git st -s | grep -m1 '^U.*' | cut -d' ' -f2) && $EDITOR $target && git add $target"
[push]
    default = simple
[diff]
    tool = vimdiff
[color]
    ui = auto
[color "diff"]
    new = cyan
    old = magenta
    frag = yellow
    meta = green
    commit = normal
[credential]
    helper = cache
[github]
    user = dusktreader
