[alias]
    lg  = "log --pretty=format:'%C(yellow)%h%C(reset) %C(blue)%an%C(reset) %C(cyan)%cr (%cs)%C(reset) %s %C(green)%d%C(reset)' --graph"
    st  = status
    df  = "difftool origin/master"
    sup = "submodule update"
    pushup = "!git push -u origin $(git rev-parse --abbrev-ref HEAD)"
    tagup = "!git tag v$(poetry version -s) && git push origin v$(poetry version -s)"
    tagdown = "!git tag -d $1; git push --delete origin $1"
    crack = "!target=$(git st -s | grep -m1 '^U.*' | cut -d' ' -f2) && $EDITOR $target && git add $target"
    now = "rev-parse --abbrev-ref HEAD"
    jam = "!git commit -am 'interim commit' && git push"
    branches = "!printf '%15s %-77s %s\n' 'MODIFIED' 'BRANCH NAME' 'LAST COMMIT MESSAGE' && git branch --sort=-authordate --format=\"%(align:right,width=18)%(color:yellow)(%(authordate:relative))%(end) %(align:width=80)%(color:green)%(refname:short)%(end) %(color:magenta)%(subject)\""
    irk = "!git rebase -i HEAD~\"{$1:-2}\" #"
    updiff = "!git diff $(git now) origin/$(git now)"

[push]
    default = simple
[diff]
    tool = vimdiff
[color]
    ui = auto
[color "diff"]
    new = cyan
    old = magenta
    frag = yellow
    meta = green
    commit = normal
[credential]
	helper = store
[github]
    user = dusktreader
[init]
	defaultBranch = main
[includeIf "gitdir:~/src/dusktreader/"]
  path = ~/.gitconfig.dusktreader
[includeIf "gitdir:~/src/mhe/"]
  path = ~/.gitconfig.mhe
