# Adds a bunch of git goodies to vim
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/pack/dusktreader/start/vim-fugitive
    url = https://github.com/tpope/vim-fugitive.git
    ignore = dirty

# Folder navigation and file management
[submodule ".vim/bundle/nerdtree"]
	path = .vim/pack/dusktreader/start/nerdtree
    url = https://github.com/scrooloose/nerdtree.git
    ignore = dirty

# Ack search within vim
[submodule ".vim/bundle/ack.vim"]
	path = .vim/pack/dusktreader/start/ack.vim
    url = https://github.com/mileszs/ack.vim.git
    ignore = dirty

# Explore open buffers
[submodule ".vim/bundle/bufexplorer"]
	path = .vim/pack/dusktreader/start/bufexplorer
    url = https://github.com/jlanzarotta/bufexplorer.git
    ignore = dirty

# Format csv files and add column highlighting
[submodule ".vim/bundle/csv.vim"]
	path = .vim/pack/dusktreader/start/csv.vim
    url = https://github.com/chrisbra/csv.vim.git
    ignore = dirty

# prettyness
[submodule ".vim/bundle/vim-airline"]
	path = .vim/pack/dusktreader/start/vim-airline
    url = git@github.com:bling/vim-airline.git
    ignore = dirty

# Powerline fonts for airline
[submodule ".vim/fonts/powerline"]
    path = .vim/fonts/powerline
    url = git@github.com:powerline/fonts.git
    ignore = dirty

# Show git statuses in your gutter
[submodule ".vim/bundle/vim-gitgutter"]
	path = .vim/pack/dusktreader/start/vim-gitgutter
    url = git@github.com:airblade/vim-gitgutter.git

# Navigate undo trees in sidebar
[submodule ".vim/bundle/vim-json"]
	path = .vim/pack/dusktreader/start/vim-json
    url = https://github.com/elzr/vim-json.git

# The ultimate testing plugin for vim
[submodule ".vim/bundle/vim-test"]
	path = .vim/pack/dusktreader/start/vim-test
    url = https://github.com/janko-m/vim-test.git
    ignore = dirty

# Candy for git commits
[submodule ".vim/bundle/committia.vom"]
	path = .vim/pack/dusktreader/start/committia.vom
    url = https://github.com/rhysd/committia.vim.git

# Python syntax highlighting
[submodule ".vim/bundle/python-syntax"]
	path = .vim/pack/dusktreader/start/python-syntax
    url = https://github.com/hdima/python-syntax.git

# Adds pep8 indentation rules to vim
[submodule ".vim/bundle/vim-python-pep8-indent"]
	path = .vim/pack/dusktreader/start/vim-python-pep8-indent
    url = https://github.com/hynek/vim-python-pep8-indent.git

# Uses currently active virtual environment
[submodule ".vim/bundle/vim-pyenv"]
    path = .vim/pack/dusktreader/start/vim-pyenv
    url = https://github.com/lambdalisue/vim-pyenv.git
    ignore = dirty

# Wishlist
# * ctrlp

# Not in use
# Add angular syntax highlighting and syntax checking
[submodule ".vim/bundle/vim-angular"]
	path = .vim/pack/dusktreader/start/vim-angular
    url = https://github.com/burnettk/vim-angular.git
    ignore = dirty
[submodule ".vim/bundle/vim-coffee-script"]
	path = .vim/pack/dusktreader/start/vim-coffee-script
    url = https://github.com/kchmck/vim-coffee-script.git
    ignore = dirty
[submodule ".vim/bundle/gist-vim"]
	path = .vim/pack/dusktreader/start/gist-vim
    url = git@github.com:mattn/gist-vim.git
[submodule ".vim/bundle/webapi-vim"]
	path = .vim/pack/dusktreader/start/webapi-vim
    url = git@github.com:mattn/webapi-vim.git
[submodule ".vim/bundle/vim-qml"]
	path = .vim/pack/dusktreader/start/vim-qml
    url = https://github.com/peterhoeg/vim-qml.git
[submodule ".vim/bundle/vim-shebang"]
	path = .vim/pack/dusktreader/start/vim-shebang
	url = https://github.com/vitalk/vim-shebang.git
[submodule ".vim/bundle/tabular"]
	path = .vim/pack/dusktreader/start/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule ".vim/bundle/vim-transpose"]
	path = .vim/pack/dusktreader/start/vim-transpose
	url = https://github.com/salsifis/vim-transpose.git
[submodule ".vim/bundle/nerdtree-ack"]
	path = .vim/pack/dusktreader/start/nerdtree-ack
	url = https://github.com/tyok/nerdtree-ack.git
[submodule ".vim/bundle/vim-jinja"]
	path = .vim/pack/dusktreader/start/vim-jinja
	url = https://github.com/lepture/vim-jinja.git
[submodule ".vim/pack/dusktreader/start/jedi-vim"]
	path = .vim/pack/dusktreader/start/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule ".vim/pack/dusktreader/start/vim-pyenv"]
	path = .vim/pack/dusktreader/start/vim-pyenv
	url = https://github.com/lambdalisue/vim-pyenv.git
[submodule ".vim/pack/dusktreader/start/ale"]
	path = .vim/pack/dusktreader/start/ale
	url = https://github.com/w0rp/ale.git
[submodule ".vim/pack/dusktreader/start/completor.vim"]
	path = .vim/pack/dusktreader/start/completor.vim
	url = https://github.com/maralla/completor.vim.git
